body {
    margin: 0;
    background-color: #000;
    font-family: Arial, sans-serif;
}

#startScreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url("startscreen.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

canvas {
    border: 2px solid #fff;
    display: none;
}